/* import fonts */

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; /*flex para centralizar o formulário */
    justify-content: center;
    justify-items: center;
    height: 100vh;


    background-color: #3A404E;
    color: white;
    font-family: "Roboto-Regular";
}

/* Mobile first */
.container {
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.voltar {
    margin-bottom: 60px;
}
.titulo {
    margin-bottom: 100px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ABABAB;
    align-items: center;
}

/* paints only the first line*/
.linha:first-of-type {
    border-bottom: 1px solid #A0824D;
}

.linha input {
    height: 40px;
    width: 90%;
    color:  #ABABAB;
    background-color: transparent;
    border: none;
    outline: none;
    

}

.linha input::placeholder {
    color: #ABABAB;
    font-size: 14px;
}
.mensagem {
    text-align: center;
    color: #C67187;
    height: 25px;
}
.signin {
    display: block;
    color: white;
    width: 80%;
    margin: 25px auto 0;
    background-color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.2rem;
    font-family: "Roboto-Regular";
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 50%);
}

/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }
    h1 {
        font-size: 3rem;
    }
    .linha input {
        font-size: 2rem;
    }

}
/* Desktop */
@media screen and (min-width: 992px) {

}
/* Tablet */
@media screen and (min-width: 768px) {

}

    
